.content {
padding: 48px 62px;
display: grid;
grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
column-gap: 48px;
row-gap: 48px;
}

.content-item {
  position: relative;
  height: 225px;

  &__picture {
    width: -webkit-fill-available;
  object-fit: cover;
  object-position: center;
}

  &:hover {
    transform: scale(1.1);
    box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.24), 0px 9px 18px rgba(0, 0, 0, 0.18);
  }
}


